<div class="row">

  {{ monTextArea }}

  <hr>
  <div class="container">
    <div class="well">
      <div class="form-group">

        <textarea
        class="form-control"
        [ngClass]="{textColor: txt.length > 130, anotherClass: txt.length > 100}"
        [(ngModel)]='txt'
        [style.color]="(txt.length == maxLength) ? 'green' : ''"
        maxLength = "{{ maxLength }}">{{ txt }}</textarea>

      </div>

      <p>Tu as écris : {{ txt.length }} / {{ maxLength }} caractères.</p>

    </div>
  </div>
</div>
